{{ define "main" }}
{{ $quote_section := "quote" }}
{{ $testimonial_section := "testimonial" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>

  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        <h2>Mission</h2>
        {{ with .Site.GetPage "/mission" }}{{ .Content }}{{ end }}
    </section>
  </article>

  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        <h2>Quotes</h2>
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (where .Site.RegularPages "Section" $quote_section) }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{- partial "quoteblock.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>


  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        <h2>Testimonials</h2>
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (where .Site.RegularPages "Section" "testimonial") }}
        <div class="relative w-100 w-30-l mb4 bg-white">
            {{ .Content }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
