{{ define "main" }}
{{ $quote_section := "quote" }}
{{ $testimonial_section := "testimonial" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>

    <style>
        .donate {
            text-align: center;
        }

     .center2 {
  display: block;
text-align: center;
}
    </style>

        {{ with .Site.GetPage "/mission" }}
      <div class="bg-black gray overflow-hidden">
        <h1 style="color:#ffcc00; font-size:300%" class="donate"><a href="{{ .Permalink }}" style="color:#ffcc00; text-transform:uppercase;" class="donate"><em>{{ .Title }}</em></h1></a>
      </div>
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
{{.Content}}
        {{ end }}
    </section>
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        {{ with .Site.GetPage "/vision" }}
        <h2><a href="{{ .Permalink }}" class="black dim center">Read our full Vision statement</h2></a>
        {{ end }}

        {{ with .Site.GetPage "/1994" }}
		<em><h2><a href="{{ .Permalink }}" class="black dim center">Photo of NCAA 1994 team</h2></em></a>
        {{ end }}
    </section>

      <div class="bg-black gray overflow-hidden">
            <h1 style="color:#ffcc00; font-size:300%" class="donate"><b><em><a style="color:#ffcc00;" target="_blank" href="https://appstate.edu">DONATE HERE</a></em></b></h1>
      </div>

</p>
      <div class="bg-black gray overflow-hidden">
            <h1 style="color:#ffcc00; font-size:300%" class="donate"><b><em><a style="color:#ffcc00;" href="/whoweare">ABOUT US</a></em></b></h1>
      </div>

</p>
        {{ with .Site.GetPage "/quote" }}
      <div class="bg-black gray overflow-hidden">
        <h1 style="color:#ffcc00; font-size:300%" class="donate"><a href="{{ .Permalink }}" style="color:#ffcc00; text-transform:uppercase;" class="donate"><em>{{ .Title }}</em></h1></a>
</div>
        {{ end }}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (where .Site.RegularPages "Section" $quote_section) }}
        <div class="relative w-100 w-30-l mb4">
          {{- partial "quoteblock.html" . -}}
        </div>
      {{ end }}
    {{- template "_internal/pagination.html" . -}}
</section>

      <section class="center2" >
      <div>
      <img src="/proverb.png"/>
      </div>
      </section>
      <section class="center2">
      <div>
      <img src="/fst.png"/>
      </div>
      </section>

<!--
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        {{ with .Site.GetPage "/testimonial" }}
        <h1><a href="{{ .Permalink }}" class="link black dim">{{ .Title }}</h1></a>
        {{ end }}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (where .Site.RegularPages "Section" "testimonial") }}
        <div class="relative w-100 w-30-l mb4 bg-white">
            {{ .Content }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
-->
{{ end }}
